html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

html {
    background: #b0e678;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

button {
    height: 50px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: rgb(183, 183, 183);
}

.hidden {
    display: none !important;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.modal {
    display: grid;
    position: absolute;
    grid-template-rows: auto auto 1fr;
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
}

.modal-close-button {
    cursor: pointer;
    justify-self: end;
}

@media screen and (max-width: 800px) {
    .modal {
        width: 85vw;
    }
}